@import "~antd/dist/antd.less";
@input-height-lg: 40px * 1.5;
@font-size-base: 14px * 1.5;

html,
body,
#app {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;

  > .main-search-container {
    margin: 35vh auto 0;
  }
}

.home-search-option {
  align-items: center;
  color: inherit;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  height: 100%;
  width: 100%;

  & > &-title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > &-status {
    font-size: 0.7em;
    margin-left: auto;
  }
}
.manga-chapter-spinner{
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  zoom: 4;
}

.manga-details-spinner {
  display: flex;
  padding: 1rem;
  zoom: 5;
  align-items: center;
  justify-content: center;
}

.manga-details-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: 1rem auto 0;
  max-width: 500px;
  width: 90vw;

  > .manga-details-image-wrapper {
    flex: 0 auto;

    > .manga-details-image{
      max-width: 5rem;
      max-height: 10rem;
    }
  }

  > .manga-details-info {
    flex: 1;
    margin-left: 1rem;
    font-size: 0.9rem;

    > p {
      text-align: justify;
    }

    .ant-list-item {
      font-size: 0.9rem;
    }
  }
}

.manga-chapter-wrapper {
  background-color: #222;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  width: 100%;

  img {
    height: auto;
    max-width: 90vw;
  }
}

.ant-tooltip-inner {
  font-size: 0.6em;
}

.favorited-manga-wrapper {
  margin-top: 1rem;
}

.favorited-manga-list-item{
   display: flex;
   flex-flow: row nowrap;
   
   &-tag{
     margin-left: auto;
   }
}